body{
	backdrop-filter: blur(0.5px);
	margin:0;
	color:#6a6f8c;
	background:url(https://cdn.pixabay.com/photo/2017/03/18/09/11/map-2153535_960_720.jpg)no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top:75px;
  font:600 16px/18px 'Open Sans',sans-serif;
  
}

.search-container{
  width: 490px;
  display: block;
  margin: 0 auto;
}

.wel{
	color:white;
	text-align:center;
	font-weight:bold;
	margin-bottom:5px;
	font-size: 30px;
	background: rgba(204, 204, 204, 0.1);
}

input#search-bar{
  margin: 0 auto;
  width: 100%;
  height: 45px;
  padding: 0 20px;
  font-size: 1rem;
  border: 1px solid #D0CFCE;
  outline: none;
  &:focus{
    border: 1px solid #008ABF;
    transition: 0.35s ease;
    color: #008ABF;
    &::-webkit-input-placeholder{
      transition: opacity 0.45s ease; 
  	  opacity: 0;
     }
    &::-moz-placeholder {
      transition: opacity 0.45s ease; 
  	  opacity: 0;
     }
    &:-ms-placeholder {
     transition: opacity 0.45s ease; 
  	 opacity: 0;
     }    
   }
 }



.b5 {
  margin:45px;
  padding: 9px 20px;
  position: relative;
  right: -157px;
  background-color: white;
  color: black;
  border:none;
}

.b5:hover {

  outline: 2px solid;
}

.search-icon{
  position: relative;
  float: right;
  width: 75px;
  height: 75px;
  top: -58px;
  right: -15px;
}
