<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">    
<head>    
<link th:href="@{/stylesAgent.css}" rel="stylesheet" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<title>Home Page</title>    
</head>    
<body>  
<div class="key">
<h1 th:text="${search.place}">Key</h1>
<h2>List of our agents!!</h2>
</div>  

   
   
<ul class="list-group list-group-flush mb-3">
  <li class="list-group-item">
    <div class="media">
      <img class="rounded-circle mr-3" src="https://www.gravatar.com/avatar?d=mp&s=50" />
      <div class="media-body align-self-center">
        <strong><a href="#">Kiran</a></strong>
        <div class="text-muted">Tour Executive</div>
      </div>
    </div>
  </li>
  
  <li class="list-group-item">
    <div class="media">
      <img class="rounded-circle mr-3" src="https://www.gravatar.com/avatar?d=mp&s=50" />
      <div class="media-body align-self-center">
        <strong><a href="#">Shashank</a></strong>
        <div class="text-muted">Tour Executive</div>
      </div>
    </div>
  </li>
  <li class="list-group-item">
    <div class="media">
      <img class="rounded-circle mr-3" src="https://www.gravatar.com/avatar?d=mp&s=50" />
      <div class="media-body align-self-center">
        <strong><a href="#">Vivek</a></strong>
        <div class="text-muted">Tour Executive</div>
      </div>
    </div>
  </li>
  <li class="list-group-item">
    <div class="media">
      <img class="rounded-circle mr-3" src="https://www.gravatar.com/avatar?d=mp&s=50" />
      <div class="media-body align-self-center">
        <strong><a href="#">Vivek</a></strong>
        <div class="text-muted">Tour Executive</div>
      </div>
    </div>
  </li>
</ul>

</body>    
</html> 