<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">    
<head>    
<link th:href="@{/stylesAgent.css}" rel="stylesheet" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<title>Home Page</title>    
</head>    
<body>  
<div class="key">
<h1 class="titlekey" th:text="${search.place+'!!!'}">Key</h1>
<h2 th:text="${'List of our best agents for ' + search.place}">Key</h2>

</div>  

<div id="popup1" class="overlay">
	<div class="popup">
		<h5>Contact:9958554858</h2>
		<h5>Email:shashankyadav97@yahoo.in</h2>
	</div>
</div>   
   
<ul class="list-group list-group-flush mb-3">
  <li class="list-group-item">
    <div class="media">
      <img class="rounded-circle mr-3" src="https://www.gravatar.com/avatar?d=mp&s=50" />
      <div class="media-body align-self-center">
        <strong><a href="#popup1">Kiran</a></strong>
        <div class="text-muted">Senior Tour Executive</div>
        <div class="text-muted">Experience: 15 years</div>
        <div class="Desc">Description: He is passionate about traveling. He will manage travel requirements made for business or holiday and he will provide tourism related services and package tours on behalf of our suppliers. The goal is to keep our clients satisfied and loyal for future services.</div>
      </div>
    </div>
  </li>
  
  <li class="list-group-item">
    <div class="media">
      <img class="rounded-circle mr-3" src="https://www.gravatar.com/avatar?d=mp&s=50" />
      <div class="media-body align-self-center">
        <strong><a href="#popup1">Shashank</a></strong>
        <div class="text-muted">Tour Executive</div>
        <div class="text-muted">Experience: 5 years</div>
        <div class="Desc">Description: He will help people plan, choose and arrange their holiday. He will usually work to a budget set out by whoever is planning the holiday. He will offer advice and opinions on where to go and local tourist attractions, events and customs.</div>
      </div>
    </div>
  </li>
  <li class="list-group-item">
    <div class="media">
      <img class="rounded-circle mr-3" src="https://www.gravatar.com/avatar?d=mp&s=50" />
      <div class="media-body align-self-center">
        <strong><a href="#popup1">Vivek</a></strong>
        <div class="text-muted">Tour Executive</div>
        <div class="text-muted">Experience: 10 years</div>
        <div class="Desc">Description:He will meet with clients to discuss and learn about their travel requirements. He is responsible for advising clients about suitable travel options in accordance with their needs, wants and capabilities. In addition, He will help them plan trips to domestic or international destinations, tours, accommodation, transport, insurance and fares.</div>
      </div>
    </div>
  </li>
  <li class="list-group-item">
    <div class="media">
      <img class="rounded-circle mr-3" src="https://www.gravatar.com/avatar?d=mp&s=50" />
      <div class="media-body align-self-center">
        <strong><a href="#popup1">Prachi</a></strong>
        <div class="text-muted">Tour Support</div>
        <div class="Desc">Description: She is passionate about customers. She will manage travel requirements made for business or holiday and she will provide tourism related support and package tours on behalf of our suppliers. The goal is to keep our clients satisfied and loyal for future services.</div>
     
      </div>
    </div>
  </li>
</ul>

</body>    
</html> 